* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, "sans-serif";
    -webkit-text-stroke: 1px #fff;
    
}
body {
    
    background-image: url("/background.jpg");
    color: white;
}

.main {
    letter-spacing: 2px;
    font: bold;
    margin-left: 10px;
}

.logo img {
    height: 40px;
    width: 53px;
}
.logo{
    margin-left: 4%;
    animation: rotate 4s linear infinite;
  }
  
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }

  }

nav {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding: 10px;
    background: rgba(255,255,255,.4);
    
}

a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 13px;
    font-size: 20px;
}

li:hover {
    text-decoration: underline;
}

#theme  {
    display: block;
    text-align: center;
    margin-top: 120px;
    margin-right: 400px;
    text-transform: uppercase;
    font-size: 77px;
    letter-spacing: 3px;
    word-spacing: 6px;
    text-shadow: 1px 1px 10px rgb(233, 224, 224);
}

p{
    margin: 16px;
    font-size: 20px;
    margin-right: 380px;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    word-spacing: 2px;
}

.submit {
    border-radius: 25px; 
    border: rgb(48, 30, 30) 2px;
    border-style: solid;
    font-size: 20px;
    background-color: rgba(0, 183, 255, 0.4);  
    color:#FFFFFF;  
    text-align :center; 
    width:270px; 
    padding-top: 18px;
    height: 70px;
    margin:30px 400px;   
}

.submit:hover {
    background-color: rgba(8, 145, 236, 0.8);
    transform: translateY(2px);
}

.model img {
    height:100%;
    width: 100%; 
}

.model {
    position: absolute;
    left:800px;
    top: 100px;
    bottom: 1px;
    margin-left: 300px;
    
}
footer {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 61px 0px 0px 350px;
}

